{%- liquid
  if type == search
    assign class_prefix = 'search'
  else
    assign class_prefix = 'collection'
  endif
-%}

{%- if has_filter -%}
  {% assign swatch_option_names = settings.swatch_option_names
    | replace: ' ,', ','
    | replace: ', ', ','
    | split: ','
    | downcase
  %}
  {%- for filter in type.filters -%}
    {% case filter.type %}
      {% when 'list' %}
        {%- liquid

          # Set default to false since we are in a loop.
          assign is_size_filter = false
          assign is_color_filter = false
          assign filter_label_to_lowercase = filter.label | downcase

          # Figure out color filters.
          if swatch_option_names contains filter_label_to_lowercase
            assign is_color_filter = true
          endif

          # Don't worry about size option filters for now as they do not do anything.
          assign size_option_names = 'size,talla,taglia,taille,tamanho,grosse' | split: ','
          if size_option_names contains filter.label
            assign is_size_filter = true
          endif

          # Determine filter type.
          if is_color_filter
            assign filter_type = 'color'
          elsif is_size_filter
            assign filter_type = 'size'
          else
            assign filter_type = 'regular'
          endif
        -%}

        <li>
          <details
            class="details"
            {{ block.shopify_attributes }}
            {% liquid
              assign active_filter = filter.values | has: 'active', true
            %}
            {% if active_filter %}
              open
            {% endif %}
          >
            <summary class="details__summary pl5 pr5">
              <span class="details__title mb0">
                {{- filter.label | escape -}}
                {%- if filter.operator == 'AND' -%}
                  <small>({{ 'collections.filter.match_all' | t }})</small>
                {%- endif -%}
              </span>
              <div class="details__icon">
                {% render 'snip-icons',
                  wrapper: '',
                  type: 'theme',
                  icon: 'down-carrot',
                  classes: 'details__svg vib-center',
                  size: '6px',
                  fill: 'var(--text-color)',
                  hover: 'var(--text-color)' %}
              </div>
            </summary>
            <div class="details__content pl5">
              <ul class="{{ class_prefix }}__color-filter--{{ is_color_filter }}">
              {% liquid
                if filter.operator == 'AND'
                  assign active_values = filter.values | where: 'active', true
                  assign inactive_values = filter.values | where: 'active', false
                  assign sorted_values = active_values | concat: inactive_values
                else
                  assign sorted_values = filter.values
                endif
              %}
              {%- for value in sorted_values -%}
                {%- liquid
                  if value.active
                    assign status = 'current'
                  elsif value.count == 0 and value.active == false
                    assign status = 'disabled'
                  else
                    assign status = ''
                  endif
                -%}

                {% if is_color_filter %}
                  {%- liquid
                    assign swatch_color_name = value.label | handleize | downcase | append: '.png'
                    assign swatch_image_url = swatch_color_name | file_url
                    assign css_color = value.label | split: ' ' | last | downcase

                    if images[swatch_color_name] != blank
                      assign bg_img = 'background-image:url(' | append: swatch_image_url | append: ');'
                    else
                      assign bg_img = ''
                    endif
                    assign bg_color = 'background-color:' | append: css_color | append: ';'
                  -%}

                  <li
                    id="Mobile-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    class="{{ class_prefix }}__sm-filter--final-level js-collection-mob-filter {{ status }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                      id="{{ value.label | downcase | handle }}"
                      {% if value.active %}
                        checked
                      {% endif %}
                      {% if value.count == 0 and value.active == false %}
                        disabled
                      {% endif %}
                    >
                    <a class="c-accordion__link" href="{{ url }}">
                      {%- capture classes -%}
                        color-filter color-filter--{{ status }} {{ status }} color-filter--{{- filter.presentation }}
                    {%- endcapture -%}
                      {% case filter.presentation %}
                          {% assign classes = classes | append: ' color-filter--rounded' %}
                        {% when 'swatch' %}
                          {% if value.swatch.image %}
                            {{
                              value.swatch.image
                              | image_url: width: 300
                              | image_tag: alt: value.swatch.image.alt, class: classes
                            }}
                          {% elsif value.swatch.color %}
                            {% assign swatch_background = 'rgb(' | append: value.swatch.color.rgb | append: ')' %}
                            <div class="{{- classes -}}" style="background: {{ swatch_background }};"></div>
                          {% endif %}
                        {% when 'image' %}
                          {% if value.image %}
                            {{
                              value.image
                              | image_url: width: 300
                              | image_tag: alt: value.image.alt, class: classes, style: swatch_size_class
                            }}
                          {% endif %}
                        {% else %}
                          <span
                            class="color-filter color-filter--rounded color-filter--{{ status }} {{ status }} color-filter--default"
                            style="{{ bg_color }}{{ bg_img }}"
                          ></span>
                      {% endcase %}
                      <label class="color-filter--label" for="{{ value.label | downcase | handle }}">
                        {{- value.label | escape }}
                        <span class="filter__count">({{ value.count }})</span></label
                      >
                    </a>
                  </li>
                {% else %}
                  <li
                    id="Mobile-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    class="{{ class_prefix }}__sm-filter--final-level js-collection-mob-filter {{ status }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                      id="{{ value.label | downcase | handle }}"
                      {% if value.active %}
                        checked
                      {% endif %}
                      {% if value.count == 0 and value.active == false %}
                        disabled
                      {% endif %}
                    >
                    <a class="c-accordion__link" href="{{ url }}">
                      <label class="filter__text--label" for="{{ value.label | downcase | handle }}">
                        {{- value.label | escape }}
                        <span class="filter__count">({{ value.count }})</span></label
                      >
                    </a>
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
            </div>
          </details>
        </li>
      {% when 'price_range' %}
        {%- liquid

          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
          assign uses_comma_decimals = false

          if currencies_using_comma_decimals contains cart.currency.iso_code
            assign uses_comma_decimals = true
          endif
        -%}

        <li
          data-filters-price-range
        >
          <details
            class="details"
            {{ block.shopify_attributes }}
            {% if filter.min_value.value or filter.max_value.value %}
              open
            {% endif %}
          >
            <summary class="details__summary pl5 pr5">
              <span class="details__title">
                <a class="mb0" href="" rel="nofollow">{{ filter.label | escape }}</a>
              </span>
              <div class="details__icon">
                {% render 'snip-icons',
                  wrapper: '',
                  type: 'theme',
                  icon: 'down-carrot',
                  classes: 'details__svg vib-center',
                  size: '6px',
                  fill: 'var(--accordion-color)',
                  hover: 'var(--accordion-color)' %}
              </div>
            </summary>
            <div class="details__content pl5">
              <ul>
                <li class="filter-price__dropdown js-hz-filter-price-dropdown">
                  <div class="filter-range__boxes js-price-range">
                    <div class="filter-range__field">
                      <label
                        class="filter-range__field__label visually-hidden"
                        for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                      >
                        {{- 'collections.filter.from' | t -}}
                      </label>
                      <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                      <input
                        class="filter-range__field__input js-filter-range-input js-price-min-output"
                        name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                        {%- if filter.min_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                          {%- else -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                          {%- endif -%}
                        {%- endif -%}
                        type="number"
                        min="0"
                        {%- if uses_comma_decimals -%}
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                        {%- else -%}
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                        {%- endif -%}
                      >
                    </div>
                    <div class="filter-range__field">
                      <label
                        class="filter-range__field__label visually-hidden"
                        for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                      >
                        {{- 'collections.filter.to' | t -}}
                      </label>
                      <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                      <input
                        class="filter-range__field__input js-filter-range-input js-price-max-output"
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                        {%- if filter.max_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                          {%- else -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                          {%- endif -%}
                        {%- endif -%}
                        type="number"
                        min="0"
                        {%- if uses_comma_decimals -%}
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                        {%- else -%}
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                        {%- endif -%}
                      >
                    </div>

                    <div class="filter-range__slider--wrapper span-2 auto">
                      <input
                        class="filter-range__slider--input"
                        {%- if filter.min_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | split: '.' | first }}"
                          {%- else -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                          {% endif %}
                        {%- else -%}
                          value="0"
                        {%- endif -%}
                        min="0"
                        {%- if uses_comma_decimals -%}
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                        {%- else -%}
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                        {%- endif -%}
                        step="1"
                        type="range"
                      >
                      <input
                        class="filter-range__slider--input"
                        {%- if filter.max_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                          {%- else -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                          {% endif %}
                        {%- else -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                          {%- else -%}
                            value="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                          {% endif %}
                        {%- endif -%}
                        min="0"
                        {%- if uses_comma_decimals -%}
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                        {%- else -%}
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                        {% endif %}
                        step="1"
                        type="range"
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </details>
        </li>
    {% endcase %}
  {%- endfor -%}
{%- endif -%}
{%- if has_sortby -%}

  <li>
    <details
      class="details"
      {{ block.shopify_attributes }}
    >
      <summary class="details__summary pl5 pr5">
        <span class="details__title mb0">
          {{- 'collections.sorting.sort_title' | t -}}
        </span>
        <div class="details__icon">
          {% render 'snip-icons',
            wrapper: '',
            type: 'theme',
            icon: 'down-carrot',
            size: '8px',
            classes: 'details__svg vib-center',
            fill: 'var(--accordion-color)',
            hover: 'var(--accordion-color)' %}
        </div>
      </summary>
      <div class="details__content pl5">
        <ul>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=manual">{{ 'collections.sorting.featured' | t }}</a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=price-ascending">{{ 'collections.sorting.price_ascending' | t }}</a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=price-descending">
              {{- 'collections.sorting.price_descending' | t -}}
            </a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=title-ascending">{{ 'collections.sorting.az' | t }}</a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=title-descending">{{ 'collections.sorting.za' | t }}</a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=created-ascending">
              {{- 'collections.sorting.date_ascending' | t -}}
            </a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=created-descending">
              {{- 'collections.sorting.date_descending' | t -}}
            </a>
          </li>
          <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
            <a href="?sort_by=best-selling">{{ 'collections.sorting.best_selling' | t }}</a>
          </li>
        </ul>
      </div>
    </details>
  </li>
{%- endif -%}
{%- if has_tag_group -%}
  {%- for block in section.blocks -%}
    {%- if block.type == 'tag_group' -%}
      {% assign selected_tags = block.settings.filter_by | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
      <li>
        <details
          class="details"
        {{ block.shopify_attributes }}
        {% liquid
          assign active_accordion = false
          for tag in type.all_tags
            if selected_tags contains tag and current_tags contains tag
              assign active_accordion = true
              break
            endif
          endfor
        %}
        {% if active_accordion %}
          open
        {% endif %}
      >
        <summary class="details__summary pl5 pr5">
          <span class="details__title mb0">
            {{- 'collections.filter.filter' | t }}: {{ block.settings.filter_by_heading -}}
          </span>
          <div class="details__icon">
            {% render 'snip-icons',
              wrapper: '',
              type: 'theme',
              icon: 'down-carrot',
              size: '8px',
              classes: 'details__svg vib-center',
              fill: 'var(--accordion-color)',
              hover: 'var(--accordion-color)' %}
          </div>
        </summary>
        <div class="details__content pl5">
          <ul>
          {% for tag in type.all_tags %}
            {% if selected_tags contains tag %}
              {% if current_tags contains tag %}
                <li
                  class="{{ class_prefix }}__sm-filter--final-level selected"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="c-accordion__tag-link">{{ tag | link_to_remove_tag: tag }}</span>
                </li>
              {% else %}
                <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
                  <span class="c-accordion__tag-link">{{ tag | link_to_add_tag: tag }}</span>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {%- if selected_tags.size > 0 -%}
            {%- if current_tags -%}
              <li class="{{ class_prefix }}__sm-filter--final-level" aria-haspopup="true" aria-expanded="false">
                <span class="c-accordion__tag-link">
                  <a class="clear-tags" href="{{ type.url }}">
                    {% render 'snip-icons',
                      wrapper: '.c-accordion__tag-link',
                      type: 'theme',
                      icon: 'close',
                      classes: 'c-accordion__tag-link--icon vib-center',
                      size: '6px',
                      fill: 'var(--text-color)',
                      hover: 'var(--text-color)'
                    %}
                    <span class="vib-center">{{ 'collections.general.clear_all_tags' | t }}</span>
                  </a>
                </span>
              </li>
            {%- endif -%}
          {%- endif -%}
        </ul>
          </div>
        </details>
      </li>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
