{% comment %}
  Product Accordion Block

  This block is used to display an accordion item on the product page.

  Accepts:
  - block: The block object containing settings for the accordion item.

  Usage:
  {% render 'snip-product-accordion-block', block: block %}
{% endcomment %}
<div class="product-block product-block--{{ block.type }} product-block--{{ block.id }}">
<details
  class="details"
  id="{{ block.id }}"
  {{ block.shopify_attributes }}
  {% if block.settings.default_open_accordion %}
    open
  {% endif %}
  data-default-open-accordion="{{ block.settings.default_open_accordion }}"
>
  <summary class="details__summary pr4">
    <h3 class="details__title">{{ block.settings.accordion_heading }}</h3>
    <div class="details__icon">
      {% render 'snip-icons',
        wrapper: '',
        type: 'theme',
        icon: 'down-carrot',
        size: '8px',
        classes: 'details__svg vib-center',
        fill: 'var(--accordion-color)',
        hover: 'var(--accordion-color)' %}
    </div>
  </summary>
  <div class="details__content rte">
    {% if product.description contains '[#' %}
      {{ product.description | split: '[#' | first }}
    {% else %}
      {{ block.settings.page.content }}
      {{ block.settings.richtext }}
    {% endif %}
  </div>
</details>
</div>