<aside
  popover="auto"
  class="slideout slideout__drawer-left"
  data-wau-slideout="mobile-navigation"
  id="slideout-mobile-navigation"
>
  

  {%- liquid
    assign text_color = 'var(--scheme-' | append: section.settings.mobile_nav_scheme | append: '-text)'
    assign bg_color = 'var(--scheme-' | append: section.settings.mobile_nav_scheme | append: '-bg)'
    assign hover_color = 'var(--scheme-' | append: section.settings.mobile_nav_scheme | append: '-hover)'

    assign has_language = section.settings.show_locale_selector
    assign has_currency = section.settings.show_country_selector
  -%}

  {% comment %} Mobile Navigation Assets {% endcomment %}
  <link rel="preload" href="{{ 'section-mobile-navigation.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'section-mobile-navigation.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'component-accordions.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'component-accordions.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'component-slideouts.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'component-slideouts.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'component-modals.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'component-modals.css' | asset_url }}"></noscript>
  <script src="{{ 'section-mobile-navigation.js' | asset_url }}" defer></script>

  {% comment %} Mobile Navigation Template {% endcomment %}
  <div
    class="mobile-nav__wrapper no-section-animation"
    data-section-id="{{ section.id }}"
    data-asset-url="{{ 'section-mobile-navigation.js' | asset_url }}"
    data-section-type="mobile-navigation">

    {% render 'header-mobile', type: 'mobile-menu', slideout_direction: 'left', fill_color: text_color, hover_color: hover_color, popover_target: 'slideout-mobile-navigation' %}

    <div class="mobile-nav__menu-blocks pt6">
      {% if section.settings.main_nav != blank %}
        <div class="mobile-nav__mobile-menu-wrapper">
          {% liquid
          assign menu = linklists[section.settings.main_nav]
          # assign allow_multiple_open = block.settings.allow_multiple_open
          assign allow_multiple_open = true
        %}
        {% comment %} TODO: Remove WAU Accordion {% endcomment %}
          <ul class="menu__list">
            {% if menu.links.size > 0 %}
              {% for link in menu.links %}
                {% if forloop.first %}
                  {% assign level_one = 'level--' | append: forloop.index %}
                {% endif %}
                {% if link.links.size > 0 %}
                  <li class="menu__item">
                    <details
                      class="details"
                      {% unless allow_multiple_open %}
                        name="{{ level_one }}"
                      {% endunless %}
                    >
                      <summary class="details__summary pl5 pr5">
                        <a class="details__link mb0" href="{{ link.url }}">{{ link.title }}</a>
                        <div class="details__icon">
                          {% render 'snip-icons',
                            wrapper: '',
                            type: 'theme',
                            icon: 'down-carrot',
                            size: '8px',
                            classes: 'details__svg vib-center',
                            fill: 'var(--accordion-color)',
                            hover: 'var(--accordion-color)' %}
                        </div>
                      </summary>
                      <div class="details__content details__content--padding-left">
                        <ul class="menu__list">
                          {% for sub_link in link.links %}
                            {% if forloop.first %}
                              {% assign level_two = level_one | append: '--' | append: forloop.parentloop.index %}
                            {% endif %}
                            {% if sub_link.links.size > 0 %}
                              <li class="menu__item">
                                <details
                                  class="details"
                                  {% unless allow_multiple_open %}
                                    name="{{ level_two }}"
                                  {% endunless %}
                                >
                                  <summary class="details__summary pl5 pr5">
                                    <a class="details__link mb0" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                                    <div class="details__icon">
                                      {% render 'snip-icons',
                                        wrapper: '',
                                        type: 'theme',
                                        icon: 'down-carrot',
                                        size: '8px',
                                        classes: 'details__svg vib-center',
                                        fill: 'var(--accordion-color)',
                                        hover: 'var(--accordion-color)' %}
                                    </div>
                                  </summary>
                                  <div class="details__content details__content--padding-left">
                                    <ul class="menu__list">
                                      {% for sub_sub_link in sub_link.links %}
                                        <li class="menu__item">
                                          <a class="menu__link mb0 pl5 pr5" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                </details>
                              </li>
                            {% else %}
                              <li class="menu__item">
                                <a class="menu__link mb0 pl5 pr5" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </details>
                  </li>
                {% else %}
                  <li class="menu__item">
                    <a class="menu__link pl5 pr5 mb0" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <li class="menu__item">
                    <a class="mb0 menu__link pl5 pr5" href="{{ routes.account_url }}">
                      {{ 'general.header.account' | t }}
                    </a>
                  </li>
                  <li class="menu__item">
                    <a class="mb0 menu__link pl5 pr5" href="{{ routes.account_logout_url }}">
                      {{ 'general.header.logout' | t }}
                    </a>
                  </li>
                {% else %}
                  <li class="menu__item">
                    <a class="mb0 menu__link pl5 pr5" href="{{ routes.account_login_url }}">{{ 'general.header.login' | t }}</a>
                </li>
              {% endif %}
            {% endif %}

            {%- if has_language -%}
              {%- if localization.available_languages.size > 1 -%}
                <li class="c-accordion__top-level menu__item pl5 pr5 pt5 pb5">
                  <noscript>
                    {%- form 'localization', id: 'MobileNavLanguageFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select inline-block w60 v-center">
                        <h2 class="visually-hidden" id="MobileNavLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                        <select class="localization-selector link" name="locale_code" aria-labelledby="MobileNavLanguageLabelNoScript">
                          <option value="" disabled>{{ 'general.language.dropdown_label' | t }}</option>
                          {%- for language in localization.available_languages -%}
                            <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                      <button class="localization-form__noscript-btn button mb0 btn-as-link inline-block v-center">
                        {% render 'snip-icons',
                            wrapper: '.section-top-bar__lang',
                            type: 'theme',
                            icon: 'checkmark',
                            size: '12px',
                            fill: 'var(--text-color)',
                            hover: 'var(--text-color)' %}
                      </button>
                    {%- endform -%}
                  </noscript>
                  <div data-localization-form>
                    {%- form 'localization', id: 'MobileNavLanguageForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <h2 class="visually-hidden" id="MobileNavLanguageLabel">{{ 'general.language.dropdown_label' | t }}</h2>
                        <div class="disclosure">
                          <button type="button" class="disclosure__button btn-as-link localization-form__select" aria-expanded="false" aria-controls="MobileNavLanguageList" aria-describedby="MobileNavLanguageLabel">
                            {{ localization.language.iso_code }}
                          </button>
                          <span class="dropdown-arrow" aria-label="{{ localization.language.iso_code }}">
                            {% render 'snip-icons',
                              wrapper: '.js-accordion-header',
                              type: 'theme',
                              icon: 'down-carrot',
                              size: '8px',
                              classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                              fill: text_color,
                              hover: hover_color %}
                            </span>
                          <div id="MobileNavLanguageList" class="disclosure__list-container" hidden>
                            <ul role="list" class="disclosure__list">
                              {%- for language in localization.available_languages -%}
                                <li class="disclosure__item" tabindex="-1">
                                  <a class="disclosure__link {% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %}" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                    {{ language.endonym_name | capitalize }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                      </div>
                    {%- endform -%}
                  </div>
                </li>
              {%- endif -%}
            {%- endif -%}
            {%- if has_currency -%}
              {%- if localization.available_countries.size > 1 -%}
                <li class="c-accordion__top-level menu__item pl5 pr5 pt5 pb5">
                  <noscript>
                    {%- form 'localization', id: 'MobileNavCountryFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select inline-block w50 v-center">
                        <h2 class="visually-hidden" id="MobileNavCountryLabelNoScript">{{ 'general.currency.dropdown_label' | t }}</h2>
                        <select class="localization-selector link" name="country_code" aria-labelledby="MobileNavCountryLabelNoScript">
                          <option value="" disabled>{{ 'general.currency.dropdown_label' | t }}</option>
                          {%- for country in localization.available_countries -%}
                            <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                              {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                      <button class="localization-form__noscript-btn button mb0 btn-as-link inline-block v-center">
                        {% render 'snip-icons',
                            wrapper: '.section-top-bar__lang',
                            type: 'theme',
                            icon: 'checkmark',
                            size: '12px',
                            fill: 'var(--text-color)',
                            hover: 'var(--text-color)' %}
                      </button>
                    {%- endform -%}
                  </noscript>
                  <div data-localization-form>
                    {%- form 'localization', id: 'MobileNavCountryForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <h2 class="visually-hidden" id="MobileNavCountryLabel">{{ 'general.currency.dropdown_label' | t }}</h2>
                        <div class="disclosure">
                          <button type="button" class="disclosure__button btn-as-link localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="MobileNavCountryList" aria-describedby="MobileNavCountryLabel">
                            {% if section.settings.show_flag %}
                              <span class="country--flag">
                                {{ localization.country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'eager', fetchpriority: 'high', image_alt: country.name }}
                              </span>
                            {% endif %}
                            {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
                          </button>
                          <span class="dropdown-arrow" aria-label="{{ localization.language.iso_code }}">
                            {% render 'snip-icons',
                              wrapper: '.js-accordion-header',
                              type: 'theme',
                              icon: 'down-carrot',
                              size: '8px',
                              classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                              fill: text_color,
                              hover: hover_color %}
                            </span>
                          <div id="MobileNavCountryList" class="disclosure__list-container" hidden>
                            <ul role="list" class="disclosure__list list-unstyled">
                              {%- for country in localization.available_countries -%}
                                <li class="disclosure__item" tabindex="-1">
                                  <a class="disclosure__link {% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %}" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                    {% if section.settings.show_flag %}
                                      <span class="country--flag">
                                        {{ country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'eager', fetchpriority: 'high', image_alt: country.name }}
                                      </span>
                                    {% endif %}
                                    {{ country.name }}
                                    <span class="localization-form__currency small">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                      </div>
                    {%- endform -%}
                  </div>
                </li>
              {%- endif -%}
            {%- endif -%}
            {% endif %}
          </ul>

          {% comment %}
            esthetic-ignore


          {% assign unique_id = section.id | slice: 0, 7 %}
          {% assign mobile_menu_allow_multiple = false %}

          <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--outer__wrapper c-accordion--{{ unique_id }}"
            id="c-accordion--mobile"
            {% if mobile_menu_allow_multiple %}data-accordion-allow-multiple{% endif %}>

          {% assign menu = linklists[section.settings.main_nav] %}

          {% for link in menu.links %}

            {% assign level_one_nested_link_count = 0 %}

            {% if link.links != blank %}

              {% assign level_one_nested_link_count = level_one_nested_link_count | plus: 1 %}
              {% assign level_one_link_index = forloop.index %}
              {% assign accordion_content_class = 'c-accordion__panel--' %}
              {% assign accordion_content_id = accordion_content_class | append: unique_id | append: '-' | append: forloop.index %}

              <li class="js-accordion-header c-accordion__header c-accordion__top-level">
                <a class="js-accordion-link c-accordion__link mb0" href="{{ link.url }}">{{ link.title | escape }}</a>
                <button class="dropdown-arrow" aria-label="{{ link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ accordion_content_id }}" >
                  {% render 'snip-icons',
                    wrapper: '.js-accordion-header',
                    type: 'theme',
                    icon: 'down-carrot',
                    size: '8px',
                    classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                    fill: text_color,
                    hover: hover_color %}
                </button>
              </li>

              <li class="c-accordion__panel {{ accordion_content_id }}" id="{{ accordion_content_id }}" data-parent="#c-accordion--mobile">

                {% assign level_two_unique_id = unique_id | append: '-' | append: level_one_nested_link_count %}

                <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--mobile-nav__inner c-accordion__second-level-wrapper c-accordion--{{ level_two_unique_id }}"
                id="c-accordion--mobile-1">

                  {% for sub_link in link.links %}
                    {% if sub_link.links != blank %}

                        {% assign level_two_link_index = forloop.index %}
                        {% assign level_two_accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index | append: '-' | append: level_two_link_index %}

                        <li class="js-accordion-header c-accordion__header c-accordion__second-level">
                          <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                          <button class="dropdown-arrow" aria-label="{{ sub_link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ level_two_accordion_content_id }}" >
                            {% render 'snip-icons',
                              wrapper: '.js-accordion-header',
                              type: 'theme',
                              icon: 'down-carrot',
                              size: '8px',
                              classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                              fill: text_color,
                              hover: hover_color %}
                          </button>
                        </li>

                        <li class="c-accordion__panel c-accordion__third-level {{ level_two_accordion_content_id }}" id="{{ level_two_accordion_content_id }}" data-parent="#c-accordion--mobile-1">
                          <ul>
                            {% for sub_sub_link in sub_link.links %}

                              <li>
                                <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                              </li>

                            {% endfor %}
                          </ul>
                        </li>
                    {% else %}
                    <li class="c-accordion__second-level">
                      <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
            <li class="c-accordion__top-level">
              <a class="js-accordion-link c-accordion__link mb0" href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {% endif %}
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li class="c-accordion__top-level">
                <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_url }}">
                  {{ 'general.header.account' | t }}
                </a>
              </li>
              <li class="c-accordion__top-level">
                <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_logout_url }}">
                  {{ 'general.header.logout' | t }}
                </a>
              </li>
            {% else %}
              <li class="c-accordion__top-level">
                <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_login_url }}">{{ 'general.header.login' | t }}</a>
              </li>
            {% endif %}
          {% endif %}

          {%- if has_language -%}
            {%- if localization.available_languages.size > 1 -%}
              <li class="c-accordion__top-level">
                <noscript>
                  {%- form 'localization', id: 'MobileNavLanguageFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select inline-block w60 v-center">
                      <h2 class="visually-hidden" id="MobileNavLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                      <select class="localization-selector link" name="locale_code" aria-labelledby="MobileNavLanguageLabelNoScript">
                        <option value="" disabled>{{ 'general.language.dropdown_label' | t }}</option>
                        {%- for language in localization.available_languages -%}
                          <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                            {{ language.endonym_name | capitalize }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                    <button class="localization-form__noscript-btn button mb0 btn-as-link inline-block v-center">
                      {% render 'snip-icons',
                          wrapper: '.section-top-bar__lang',
                          type: 'theme',
                          icon: 'checkmark',
                          size: '12px',
                          fill: 'var(--text-color)',
                          hover: 'var(--text-color)' %}
                    </button>
                  {%- endform -%}
                </noscript>
                <div data-localization-form>
                  {%- form 'localization', id: 'MobileNavLanguageForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <h2 class="visually-hidden" id="MobileNavLanguageLabel">{{ 'general.language.dropdown_label' | t }}</h2>
                      <div class="disclosure">
                        <button type="button" class="disclosure__button btn-as-link localization-form__select" aria-expanded="false" aria-controls="MobileNavLanguageList" aria-describedby="MobileNavLanguageLabel">
                          {{ localization.language.iso_code }}
                        </button>
                        <span class="dropdown-arrow" aria-label="{{ localization.language.iso_code }}">
                          {% render 'snip-icons',
                            wrapper: '.js-accordion-header',
                            type: 'theme',
                            icon: 'down-carrot',
                            size: '8px',
                            classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                            fill: text_color,
                            hover: hover_color %}
                          </span>
                        <div id="MobileNavLanguageList" class="disclosure__list-container" hidden>
                          <ul role="list" class="disclosure__list">
                            {%- for language in localization.available_languages -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="disclosure__link {% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %}" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                  {{ language.endonym_name | capitalize }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                      <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                    </div>
                  {%- endform -%}
                </div>
              </li>
            {%- endif -%}
          {%- endif -%}
          {%- if has_currency -%}
            {%- if localization.available_countries.size > 1 -%}
              <li class="c-accordion__top-level">
                <noscript>
                  {%- form 'localization', id: 'MobileNavCountryFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select inline-block w50 v-center">
                      <h2 class="visually-hidden" id="MobileNavCountryLabelNoScript">{{ 'general.currency.dropdown_label' | t }}</h2>
                      <select class="localization-selector link" name="country_code" aria-labelledby="MobileNavCountryLabelNoScript">
                        <option value="" disabled>{{ 'general.currency.dropdown_label' | t }}</option>
                        {%- for country in localization.available_countries -%}
                          <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                            {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                    <button class="localization-form__noscript-btn button mb0 btn-as-link inline-block v-center">
                      {% render 'snip-icons',
                          wrapper: '.section-top-bar__lang',
                          type: 'theme',
                          icon: 'checkmark',
                          size: '12px',
                          fill: 'var(--text-color)',
                          hover: 'var(--text-color)' %}
                    </button>
                  {%- endform -%}
                </noscript>
                <div data-localization-form>
                  {%- form 'localization', id: 'MobileNavCountryForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <h2 class="visually-hidden" id="MobileNavCountryLabel">{{ 'general.currency.dropdown_label' | t }}</h2>
                      <div class="disclosure">
                        <button type="button" class="disclosure__button btn-as-link localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="MobileNavCountryList" aria-describedby="MobileNavCountryLabel">
                          {% if section.settings.show_flag %}
                            <span class="country--flag">
                              {{ localization.country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'eager', fetchpriority: 'high', image_alt: country.name }}
                            </span>
                          {% endif %}
                          {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}
                        </button>
                        <span class="dropdown-arrow" aria-label="{{ localization.language.iso_code }}">
                          {% render 'snip-icons',
                            wrapper: '.js-accordion-header',
                            type: 'theme',
                            icon: 'down-carrot',
                            size: '8px',
                            classes: 'inactive-arrow mt0 mr0 mb0 ml0',
                            fill: text_color,
                            hover: hover_color %}
                          </span>
                        <div id="MobileNavCountryList" class="disclosure__list-container" hidden>
                          <ul role="list" class="disclosure__list list-unstyled">
                            {%- for country in localization.available_countries -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="disclosure__link {% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %}" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                  {% if section.settings.show_flag %}
                                    <span class="country--flag">
                                      {{ country | image_url: width: 32 | image_tag: class: 'disclosure__toggle__flag', loading: 'eager', fetchpriority: 'high', image_alt: country.name }}
                                    </span>
                                  {% endif %}
                                  {{ country.name }}
                                  <span class="localization-form__currency small">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                    </div>
                  {%- endform -%}
                </div>
              </li>
            {%- endif -%}
          {%- endif -%}

        </ul>
        {% endcomment %}

        </div>
      {% endif %}
      {% if section.settings.menu_image != blank %}
        <div class="grid__wrapper narrow py8">
          <div class="mobile-nav__img-wrapper span-12 auto">
            {% render 'helper-image',
              type: section.settings.menu_image,
              sm_render: '360px',
              md_render: '360px',
              lg_render: '360px',
              width: 600 %}
          </div>
        </div>
      {% endif %}
    </div>
    <style>
      #slideout-mobile-navigation {
        --text-color: {{ text_color }};
        --background: {{ bg_color }};
        --hover-color: {{ hover_color }};
        --accordion-border-color: var(--text-color);
        --accordion-color: var(--text-color);
        --accordion-background-color: var(--background);
        --accordion-border-bottom: 1px solid var(--accordion-border-color);
        --accordion-summary-height: 60px;
      }
    </style>
  </div>

</aside>

{% schema %}
  {
    "name": "Mobile navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "main_nav",
        "label": "Choose mobile menu",
        "default":"main-menu",
        "info": "It is best practice to select the same menu used in the Header. [Learn More](https://developers.google.com/search/mobile-sites/mobile-first-indexing)"
      },
      {
        "type": "image_picker",
        "id": "menu_image",
        "label": "Menu image",
        "info": "Optional"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image",
        "info": "Optional"
      },
      {
        "type": "select",
        "id": "mobile_nav_scheme",
        "label": "Color scheme",
        "default":"1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Enable language selector",
        "default": true
      },
      {
          "type": "header",
          "content": "Country/Region Selector",
          "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Enable country/region selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_flag",
        "label": "Show country flags",
        "default": true,
        "visible_if": "{{ section.settings.show_country_selector == true }}"
      }
	  ]
  }
{% endschema %}
