{% comment %} Text With Icons Logic {% endcomment %}
{%- liquid

  assign section_padding = ''
  assign icon_padding = 'py9'
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
    assign icon_padding = 'py9'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
    assign icon_padding = 'py9'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
    assign icon_padding = 'py3'
  endif

  if settings.section_title_align == 'left'
    assign heading_align = 'a-left'
  elsif settings.section_title_align == 'right'
    assign heading_align = 'a-right'
  else
    assign heading_align = 'a-center'
  endif

  assign text_align = section.settings.text_align

  assign heading_grid_classes = 'span-12 auto'

  if section.settings.text_align == 'center'
    assign wrapper_class = 'grid__wrapper'
  else
    assign wrapper_class = 'flex__wrapper'
  endif

  case section.blocks.size
    when 0
    when 1
      assign block_width = 'span-12 auto'
    when 2
      assign block_width = 'span-6 auto'
    when 3
      assign block_width = 'span-4 auto'
    when 4
      assign block_width = 'span-3 auto'
    when 5
      assign block_width = 'span-3 auto sm-span-6'

      # Append class to wrapper class
      assign wrapper_class = wrapper_class | append: ' wrapper-fifths'

      # Override original value with extra class
      assign heading_grid_classes = 'span-12 span-full-fifths'
    when 6
      assign block_width = 'span-2 auto'
  endcase

  assign sm_render = '100vw'
  assign md_render = 'calc(100vw / ' | append: section.blocks.size | append: ')'
  assign lg_render = 'calc(1600px / ' | append: section.blocks.size | append: ')'

  if section.settings.color_scheme == 'none'
    assign text_color = 'var(--text-color)'
    assign bg_color = 'var(--background)'
    assign hover_color = 'var(--text-color-light)'
  else
    assign text_color = 'var(--scheme-' | append: section.settings.color_scheme | append: '-text)'
    assign bg_color = 'var(--scheme-' | append: section.settings.color_scheme | append: '-bg)'
    assign hover_color = 'var(--scheme-' | append: section.settings.color_scheme | append: '-text)'
  endif

  assign size = section.settings.size | append: 'px'

-%}

{% comment %} Text With Icons Template {% endcomment %}
<div
  class="section-txt-icons text-icons-{{ section.id }} global__section {{ section_padding }}"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
  data-section-loaded="false">

  <div class="section-txt-icons__outer-wrapper">
    <div class="section-txt-icons__inner-wrapper {{ wrapper_class }} {{ icon_padding }} cg9 sm-cg0 narrow">
      {% render 'snip-headings', align: heading_align, classes: 'section-txt-icons__section-heading pb5', grid: heading_grid_classes, heading: section.settings.title %}

      {% for block in section.blocks %}
        <article class="section-txt-icons__item text-promo-{{ block.id }} {{ block_width }} a-{{ text_align }} animate--text delay--{{ forloop.index0 }}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
            <div class="section-txt-icons__image mb4">
              {%- liquid

                assign has_image = false
                assign has_link = false
                assign has_text = false

                if block.settings.text != blank
                  assign text = block.settings.text | escape
                  assign has_text = true
                endif

                if block.settings.image != blank
                  assign image = block.settings.image | image_url: width: 100 | image_tag
                  assign has_image = true
                endif

                if block.settings.link != blank
                  assign has_link = true
                  assign link = block.settings.link
                endif

                assign type = 'apollo'
                assign icon = block.settings.icon
                case icon
                  when 'burger', 'cafe', 'cake', 'camera', 'cookie', 'croissant', 'desktop', 'diamond', 'dry-cleaning', 'favorite', 'finger-print', 'flower', 'forest', 'gaming', 'headphones', 'health', 'ice-cream', 'laptop', 'laundry', 'liquor', 'lock', 'mic', 'mobile-phone', 'nature', 'new-release', 'pets', 'pizza', 'plant', 'rabbit', 'radio', 'savings', 'shield', 'sustainable', 'take-out', 'trophy', 'tv', 'washing-machine', 'watch', 'wine', 'world'
                  assign type = 'theme'
                endcase

              -%}
              {% case block.settings.media_type %}
                {% when 'image' %}
                  {% if has_image %}
                    <div class="section-txt-icons__text-icon--image lh0">
                      {{ image }}
                    </div>
                  {% endif %}
                {% when 'icon' %}
                  <div class="section-txt-icons__text-icon--icon lh0">
                    {%
                      render 'snip-icons',
                      wrapper: '.product-form__text-icon',
                      type: type,
                      icon: block.settings.icon,
                      size: size,
                      classes: 'absolute-center',
                      fill: text_color,
                      hover: text_color
                    %}
                  </div>
              {% endcase %}
            </div>
          {% if block.settings.link != blank %}</a>{% endif %}

            <div class="section-txt-icons__content mb2">
              {% if block.settings.title != blank %}
                <p class="section-txt-icons__block-heading mb2 h5">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.subheading != blank %}
                <div class="section-txt-icons__block-subheading mb2">
                  {{ block.settings.subheading }}
                </div>
              {% endif %}
            </div>
        </article>
      {% endfor %}

      {% if section.blocks.size == 0 %}
        {% render 'onboard-no-blocks' %}
      {% endif %}
    </div>
  </div>
  <style>
    .section-txt-icons__text-icon--icon {
      border-radius: 50%;
      width: calc({{ size }} + 20px);
      height: calc({{ size }} + 20px);
      position: relative;
    }
    .section-txt-icons__text-icon--icon svg {
      max-width: 50px;
    }
    .section-txt-icons__text-icon--image {
      max-width: calc({{ size }} + 20px);
    }
    .section-txt-icons__item.a-center .section-txt-icons__text-icon--icon,
    .section-txt-icons__item.a-center .section-txt-icons__text-icon--image {
      margin-left: auto;
      margin-right: auto;
    }
    .text-icons-{{ section.id }},
    .text-icons-{{ section.id }} h2,
    .text-icons-{{ section.id }} p,
    .text-icons-{{ section.id }} a {
      color: {{ text_color }} !important;
    }
    .text-icons-{{ section.id }} a:hover {
      color: {{ hover_color }} !important;
    }
    .text-icons-{{ section.id }} .section-txt-icons__outer-wrapper {
      background-color: {{ bg_color }} !important;
    }

    /* ---- Inline icons ---- */
    .section-txt-icons__inner-wrapper.flex__wrapper {
      padding-left: 7%;
      padding-right: 7%;
      max-width: 1600px;
      display: flex;
      gap: 0;
      font-size: var(--font-size);
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
    }

    .text-icons-{{ section.id }} .section-txt-icons__item.a-left,
    .text-icons-{{ section.id }} .section-txt-icons__item.a-right {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex: 0 0 calc((100% / {{ section.blocks.size }}) - 1rem);
        justify-content: center;
    }

    .section-txt-icons__item.a-right .section-txt-icons__content {
      justify-content: end;
    }

    @media screen and (max-width: 767px) {
      .section-txt-icons__inner-wrapper.flex__wrapper {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
        /* -ms-overflow-style: none;
        scrollbar-width: none; */
        scrollbar-color: #ffd450;
      }
      .section-txt-icons__inner-wrapper.flex__wrapper .span-12 {
        display: none;
       }
      .section-txt-icons__inner-wrapper.flex__wrapper::-webkit-scrollbar-track {
        background: transparent;
      }
      .section-txt-icons__inner-wrapper.flex__wrapper::-webkit-scrollbar-thumb {
        background-color: {{ text_color }};
      }
      .section-txt-icons__item.a-left,
      .section-txt-icons__item.a-right {
          flex: 1 0 auto;
      }
    }

    .section-txt-icons__item.a-left .section-txt-icons__image.mb4,
    .section-txt-icons__item.a-right .section-txt-icons__image.mb4 {
        margin-bottom: 0;
    }

    .section-txt-icons__item.a-left .section-txt-icons__content.mb2,
    .section-txt-icons__item.a-right .section-txt-icons__content.mb2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .section-txt-icons__item.a-left .section-txt-icons__block-heading.mb2,
    .section-txt-icons__item.a-right .section-txt-icons__block-heading.mb2 {
        margin-bottom: 0;
    }

    .section-txt-icons__item.a-left .section-txt-icons__block-subheading.mb2,
    .section-txt-icons__item.a-right .section-txt-icons__block-subheading.mb2 {
        margin-bottom: 0;
    }


    .section-txt-icons__item.a-left .section-txt-icons__block-heading.mb2,
    .section-txt-icons__item.a-right .section-txt-icons__block-heading.mb2 {
        flex: 0 0 100%;
    }

    .section-txt-icons__item.a-left  .section-txt-icons__block-subheading.mb2 p,
    .section-txt-icons__item.a-right .section-txt-icons__block-subheading.mb2 p {
        margin-bottom: 0;
    }

    /* -- Switch icons to right on right alignment --*/
    .section-txt-icons__item.a-right .section-txt-icons__image.mb4 {
      order: 1;
    }
  </style>
</div>

{% schema %}
{
  "name": "Text with icons",
  "tag": "section",
  "class": "dynamic-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text with Icons"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "range",
      "id": "size",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Icon size",
      "default": 20
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default":"1",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both",
      "visible_if": "{{ settings.section_padding > 0 }}"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "select",
          "id": "media_type",
          "label": "Media type",
          "default": "icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "icon",
              "label": "Icon"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Choose an icon",
          "options": [
            {
              "value": "bag",
              "label": "Bag"
            },
            {
              "value": "burger",
              "label": "Burger"
            },
            {
              "value": "cafe",
              "label": "Cafe"
            },
            {
              "value": "cake",
              "label": "Cake"
            },
            {
              "value": "camera",
              "label": "Camera"
            },
            {
              "value": "cart",
              "label": "Cart"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "checkmark",
              "label": "Checkmark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "cookie",
              "label": "Cookie"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "croissant",
              "label": "Croissant"
            },
            {
              "value": "desktop",
              "label": "Desktop"
            },
            {
              "value": "diamond",
              "label": "Diamond"
            },
            {
              "value": "dry-cleaning",
              "label": "Dry cleaning"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "favorite",
              "label": "Favourite"
            },
            {
              "value": "finger-print",
              "label": "Finger print"
            },
            {
              "value": "flower",
              "label": "Flower"
            },
            {
              "value": "forest",
              "label": "Forest"
            },
            {
              "value": "gaming",
              "label": "Gaming"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headphones",
              "label": "Headphones"
            },
            {
              "value": "health",
              "label": "Health"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "home",
              "label": "Home"
            },
            {
              "value": "ice-cream",
              "label": "Ice cream"
            },
            {
              "value": "info",
              "label": "Info"
            },
            {
              "value": "laptop",
              "label": "Laptop"
            },
            {
              "value": "laundry",
              "label": "Laundry"
            },
            {
              "value": "liquor",
              "label": "Liquor"
            },
            {
              "value": "location",
              "label": "Location"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "mic",
              "label": "Mic"
            },
            {
              "value": "mobile-phone",
              "label": "Mobile phone"
            },
            {
              "value": "nature",
              "label": "Nature"
            },
            {
              "value": "new-release",
              "label": "New release"
            },
            {
              "value": "pets",
              "label": "Pets"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "pizza",
              "label": "Pizza"
            },
            {
              "value": "plant",
              "label": "Plant"
            },
            {
              "value": "rabbit",
              "label": "Rabbit"
            },
            {
              "value": "radio",
              "label": "Radio"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "sale-tag",
              "label": "Sale tag"
            },
            {
              "value": "savings",
              "label": "Savings"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "secure",
              "label": "Secure"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "ship-truck",
              "label": "Shipping"
            },
            {
              "value": "smile",
              "label": "Smile emoji"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "sustainable",
              "label": "Sustainable"
            },
            {
              "value": "take-out",
              "label": "Take out"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "tv",
              "label": "Tv"
            },
            {
              "value": "verified",
              "label": "Verified"
            },
            {
              "value": "washing-machine",
              "label": "Washing machine"
            },
            {
              "value": "watch",
              "label": "Watch"
            },
            {
              "value": "wine",
              "label": "Wine"
            },
            {
              "value": "world",
              "label": "World"
            }
          ],
          "default": "chat",
          "visible_if": "{{ block.settings.media_type == 'icon' }}"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Choose an image",
          "info": "100px x 100px recommended",
          "visible_if": "{{ block.settings.media_type == 'image' }}"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional",
          "visible_if": "{{ block.settings.media_type != 'none' }}"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Text",
          "default": "<p>Pair icon with text on store details.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with icons",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside"]
  }
}
{% endschema %}
