{% layout none %}
{%- liquid
  assign drawer = false
  assign modal = false
  assign page_only = false
  assign no_js_cart = false

  if settings.cart_type == 'drawer'
    assign drawer = true
  elsif settings.cart_type == 'modal_cart'
    assign modal = true
  elsif settings.cart_type == 'page_only'
    assign page_only = true
  else
    assign no_js_cart = true
  endif

  if cart.item_count < 1
    assign isEmpty = ''
    assign formEmpty = 'hide'
  else
    assign isEmpty = 'hide'
    assign formEmpty = ''
  endif

  if settings.cart_type == 'drawer' or settings.cart_type == 'page_only'
    assign is_narrow = 'narrow'
  endif
-%}
<template data-options>
  {
    "item_count": {{ cart.item_count }}
  }
</template>
{%- liquid
  assign empty_message = 'cart.general.empty' | t
  assign button_text = 'cart.general.shop_now' | t
  if button_text == 'cart.general.shop_now'
    assign button_text = 'Jetzt Einkaufen'
  endif
  assign button_link = routes.root_url
-%}
<template data-html="content">
  {% if cart.item_count < 1 %}
    <div class="ajax-cart__empty-cart-wrapper a-center pt6 js-cart-empty {{ isEmpty }}">
      <div class="ajax-cart__empty-cart-content">
        {% comment %} Animal image will be added by JavaScript if provided in settings {% endcomment %}
        <div class="ajax-cart__empty-cart-fox"></div>
        <div class="ajax-cart__empty-cart-message-wrapper">
          <p class="ajax-cart__empty-cart-message">{{ empty_message }}</p>
          {% if button_text != blank and button_link != blank %}
            <a href="{{ button_link }}" class="button btn-outline btn-secondary ajax-cart__empty-cart-button">
              {{ button_text }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% render 'cart-form',
     drawer: drawer,
     modal: modal,
     page_only: page_only,
     no_js_cart: no_js_cart,
     formEmpty: formEmpty,
     is_narrow: is_narrow %}
</template>
